@model Vidly.ViewModels.MovieFormViewModel


<form method="post" asp-controller="Movie" asp-action="Save" enctype="multipart/form-data">
    <div asp-validation-summary="All"></div>
    <input asp-for="Movie.Id" hidden/>
    <div class="form-group">
        <label asp-for="Movie.Name"></label>
        <input asp-for="Movie.Name" class="form-control" />
        <span asp-validation-for="Movie.Name" class="text-danger"></span>
    </div>
     <div class="form-group">
        <label asp-for="Movie.GenreId"></label>
        <select asp-for="Movie.GenreId" asp-items="@Model.Genres" class="form-control ">
            <option disabled selected>--Select Genre--</option>
        </select>
        <span asp-validation-for="Movie.GenreId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Movie.ReleaseDate"></label>
        <input type="datetime" asp-for="Movie.ReleaseDate" class="form-control" />
        <span asp-validation-for="Movie.ReleaseDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Movie.DateAdded"></label>
        <input type="datetime" asp-for="Movie.DateAdded" class="form-control" />
        <span asp-validation-for="Movie.DateAdded" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Movie.InStock"></label>
        <input asp-for="Movie.InStock" class="form-control" />
        <span asp-validation-for="Movie.InStock" class="text-danger"></span>
    </div>
   
   
    <button type="submit" class="btn btn-primary" style="width:150px">Submit</button>



</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}