@model Vidly.ViewModels.CustomerViewModel
<h2>Customers</h2>
@if(Model.Customers.Count == 0)
{
    <h2>Sorry no Customers to display</h2>
}
else
{
   <table>
    <thead>
        <tr>
            <th>
                Name:
            </th>
            <th>
                Discount Rate:
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var customer in Model.Customers)
        {
            <tr>
                    <td><a asp-controller="Customer" asp-action="Edit" asp-route-Id="@customer.Id">@customer.Name</a></td>
                    <td> @customer.MembershipType.Name</td>
            </tr>
        }
    </tbody>
</table> 
}
